.page-header{

padding:20px;

}


main{

padding:16px;

}



.binder-cover,
.binder-section{


background:white;

padding:24px;

margin-bottom:20px;

border-radius:18px;

box-shadow:
0 3px 12px rgba(0,0,0,.08);


}



.binder-cover{

text-align:center;

}



.binder-section h2{

margin-bottom:15px;

}



table{

width:100%;

border-collapse:collapse;

}



td,
th{

padding:10px;

border:1px solid #ddd;

}



button{


width:100%;

padding:15px;

border-radius:12px;

border:none;


}



@media print{


.page-header,
button{

display:none;

}


.binder-section,
.binder-cover{

box-shadow:none;

}


}